MONGO_URI=mongodb://localhost:27017/bildyapp
JWT_SECRET=your_jwt_secret
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SLACK_WEBHOOK_URL=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
PORT=3000
