PORT=3000
MONGODB_URI=mongodb+srv://admin:admin1234567890@cluster0.6qboc7t.mongodb.net/podcasthub?appName=Cluster0
MONGODB_TEST_URI=mongodb+srv://admin:admin1234567890@cluster0.6qboc7t.mongodb.net/podcasthub_test?appName=Cluster0
JWT_SECRET=supersecretkey_min32chars_requerido
JWT_EXPIRES_IN=2h